.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 40px;
  gap: 32px;
}
.product_title h2 {
  padding-bottom: 24px;
  font-size: 36px;
}
.product_title {
  text-align: center;
  padding-bottom: 48px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  position: relative;
  transition: 0.3s ease-out;
}
.product h3 {
  padding: 10px 0 8px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #1e1d1d;
}
.product p {
  padding-top: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.1px;
  color: #8b8e99;
}
.product img {
  width: 100%;
  background-size: contain;
}
.product p span {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.92px;
  color: #000;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 10px;
  right: 16px;
  opacity: 0;
  transition: 0.3s ease-out;
}
.product:hover .icons {
  opacity: 1 !important;
}
