* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}
a {
  text-decoration: none;
  color: #000;
}
input,
textarea {
  outline: none;
  padding: 16px;
  resize: none;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 500;
}

.local_images {
  display: flex;
  gap: 16px;
  padding: 20px;
}
.close_image {
  position: absolute;
  top: 5px;
  right: 5px;
  color: crimson;
  font-size: 32px;
  cursor: pointer;
}
.local_image {
  position: relative;
}
.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.create input,
.create textarea,
.create button {
  width: 400px;
}
.select_image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: coral;
  color: coral;
  opacity: 0;
}
